@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  height: 100%;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.route-enter-active,
.route-leave-active {
  transition: opacity 0.3s ease;
}
.route-enter, .route-leave-to
/* .component-fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 85px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  .portfolio-container,
  .example-container {
    padding: 0 20px;
  }
}

main {
  padding: 180px 0 100px 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: 2px solid #fdcc21;
}

textarea {
  resize: none;
}

.btn {
  font-family: "Montserrat", sans-serif;
  padding: 20px 30px;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 300;
  text-transform: uppercase;
  background: none;
  letter-spacing: 2.2px;
  border: 1px solid #fdcc21;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home-btn__one {
  font-size: 11px;
  padding: 20px;
}

@media (max-width: 576px) {
  .btn {
    margin: 0 auto;
    font-size: 11px;
  }
}

.btn:hover {
  background: #fdcc21;
  color: #fafafa;
}

button:hover {
  cursor: pointer;
}

.section-title {
  font-family: "adlery-pro-swash", sans-serif;
  color: #2a2a2a;
  font-size: 30px;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  margin: 70px 0 70px 0;
}
@media (max-width: 576px) {
  .section-title {
    font-size: 23px;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0;
  border-bottom: 1px solid #c7c7c7;
  background: #fff;
  z-index: 10;
}
.header-navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo img {
  max-width: 107px;
}

@media (max-width: 575.98px) {
  .logo img {
    width: 90px;
  }
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-list__item {
  margin-left: 50px;
}
.navbar-list__link {
  position: relative;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navbar-list__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 5px;
  bottom: -5px;
  height: 2px;
  background-color: #fdcc21;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.navbar-list__link:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-list__link-active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 5px;
  bottom: -5px;
  height: 2px;
  background-color: #fdcc21;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /*   border: 3px solid #fff; */
}

@media (max-width: 991px) {
  .menu-btn {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}

.menu-btn__burger {
  width: 32px;
  height: 2px;
  background: #505050;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #505050;
  border-radius: 5px;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

.hamburger-menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #fafafa;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 991px) {
  .hamburger-menu__box {
    width: 400px;
  }
}
@media screen and (max-width: 576px) {
  .hamburger-menu__box {
    width: 300px;
  }
}
.hamburger-menu__box-item {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  padding: 12px 24px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
.hamburger-menu__btn-close {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 15px;
  left: 25px;
  color: #fdcc21;
  font-size: 56px;
  border: none;
  background: none;
}
.hamburger-menu__btn-colse:focus {
  outline: none;
}

.hamburger-menu__box-opened {
  right: 300px;
}

.hamburger-menu__box-closed {
  right: -300px;
}

.pop-up__background {
  background-color: rgba(70, 81, 108, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.footer {
  padding: 10px 0;
  background-color: #fdcc21;
}
.footer-navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer-navigate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer .copyright__link {
  font-size: 12px;
  letter-spacing: 3px;
  color: #2a2a2a;
  font-weight: 500;
}

.footer .copyright-reserved {
  display: flex;
  align-items: center;
}

.footer .copyright__link-reserved {
  margin-left: 5px;
  letter-spacing: normal;
}
@media screen and (max-width: 768px) {
  .footer .copyright__link-link {
    font-size: 11px;
  }
  .footer .copyright__link-link:focus {
    outline: none;
  }
}
.footer .socials {
  width: 260px;
}

.footer .socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .socials-list__item {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer .socials-list {
    justify-content: center;
    margin: 10px;
  }

  .footer .socials-list__item {
    margin: 0 10px;
  }
}
.footer .socials-list__item svg {
  width: 26px;
  height: 26px;
}
@media screen and (max-width: 768px) {
  .footer .socials-list__item svg {
    width: 21px;
    height: 21px;
  }
}
.footer .socials-list__item svg path {
  fill: #505050;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer .socials-list__item svg:hover path {
  fill: #f1f1f1;
}

.section-home .home-image {
  position: relative;
  width: auto;
  height: 64px;
  width: 100%;
}
.section-home .home-image img {
  position: absolute;
  transition: 1s;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 64px;
  width: 64px;
  -webkit-animation: moveStar 5s ease-in-out infinite;
  animation: moveStar 5s ease-in-out infinite;
}

.home-btn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .home-btn {
    flex-direction: column;
  }

  .home-btn__one {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .section-home .home-image img {
    height: 50px;
    width: 50px;
  }
}

@-webkit-keyframes moveStar {
  0% {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }
  50% {
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
  }
  100% {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
  }
}

@keyframes moveStar {
  0% {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }
  50% {
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
  }
  100% {
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
  }
}

.section-home .home-title {
  margin: 50px 0 3px 0;
}
@media screen and (max-width: 576px) {
  .section-home .home-title {
    margin: 30px 0 7px 0;
  }
}
.section-home .home-title__letter {
  font-family: "adlery-pro-swash", sans-serif;
  width: 60px;
  font-size: 73px;
  transition: 0.4s;
  color: #505050;
}
@media screen and (max-width: 768px) {
  .section-home .home-title__letter {
    width: auto;
    margin: 0 10px;
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .section-home .home-title__letter {
    width: 23px;
    font-size: 30px;
    margin: 0 8px;
  }
}
@media screen and (max-width: 356px) {
  .section-home .home-title__letter {
    width: auto;
    margin: 0 5px;
    font-size: 21px;
  }
}

.section-home .home-subtitle {
  transition: 0.7s;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
  color: #2a2a2a;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section-home .home-subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .section-home .home-subtitle {
    letter-spacing: 3px;
    font-size: 11px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .section-home .home-btn .btn {
    padding: 14px 15px;
    font-size: 10px;
  }
}

.section-portfolio .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-portfolio .portfolio-item {
  margin-bottom: 40px;
  padding-bottom: 60px;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
  padding-top: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 1px -1px 18px -2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px -1px 18px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 1px -1px 18px -2px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}
.section-portfolio .portfolio-item:hover {
  cursor: pointer;
}

.section-portfolio .portfolio-item__img {
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}

.section-portfolio .portfolio-item__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
  letter-spacing: 3px;
  margin-top: 25px;
}

.portfolio__btn {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .section-portfolio .portfolio {
    display: block;
  }
  .section-portfolio .portfolio-item {
    max-width: 70%;
    margin: 0 auto 40px;
    padding-top: 20px;
  }
  .section-portfolio .portfolio-item img {
    max-width: none;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .section-portfolio .portfolio-item__text {
    font-size: 12px;
  }

  .section-portfolio .portfolio-item {
    max-width: 100%;
    padding-bottom: 40px;
  }
}

.section-example .example-item img {
  max-width: 100%;
  display: block;
}

.section-example .example-another__one {
  width: 100%;
  height: 100%;
}

.section-example .example-another__one:hover {
  transform: scale(1.02);
  opacity: 1;
}

.section-about .about {
  margin: 0 auto;
  max-width: 550px;
}
.section-about .about-image {
  margin: 25px 0;
}
.section-about .about-text {
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}
.section-about .about-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
  margin-bottom: 18px;
}
.section-about .about-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 50px;
}
@media screen and (max-width: 575px) {
  .section-about .about-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.section-about .about-btns__btn {
  width: 200px;
}
@media screen and (max-width: 575px) {
  .section-about .about-btns__btn {
    width: 260px;
    margin-bottom: 20px;
  }
}

.section-about .image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 350px;
  height: 300px;
  margin: 0 auto;
}
.section-about .image-wrapper__main {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  width: 268px;
  height: 268px;
}
@media screen and (max-width: 767px) {
  .section-about .image-wrapper__main {
    width: 250px;
    height: 250px;
  }
}
.section-about .image-wrapper__top {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
  -webkit-animation: pulses 3s infinite;
  animation: pulses 3s infinite;
}
.section-about .image-wrapper__bottom {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 100px;
}
.section-about .image-wrapper__bottom img:nth-child(1) {
  -ms-flex-item-align: center;
  align-self: center;
  width: 19px;
  height: 19px;
  -webkit-animation: pulses 4s infinite;
  animation: pulses 4s infinite;
}
.section-about .image-wrapper__bottom img:nth-child(2) {
  width: 31px;
  height: 31px;
  -webkit-animation: pulses 2s infinite;
  animation: pulses 2s infinite;
}

@-webkit-keyframes pulses {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulses {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.section-contacts .contacts {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section-contacts .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.section-contacts .contacts-info {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.section-contacts .contacts-info__text {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 4px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .section-contacts .contacts-info__text {
    font-size: 11px;
  }
}
.section-contacts .contacts-info__mail {
  text-decoration: underline;
}
.section-contacts .contacts-info__img {
  text-align: left;
  width: 50px;
  height: 50px;
  padding: 30px;
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  -webkit-animation: buzz 7s ease-in-out infinite;
  animation: buzz 7s ease-in-out infinite;
  -webkit-transition: ease;
  transition: ease;
}
@media screen and (max-width: 576px) {
  .section-contacts .contacts-info__img {
    width: 40px;
    height: 40px;
  }
}

@-webkit-keyframes buzz {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    margin-left: 0;
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(70deg);
    margin-left: 60%;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
    margin-left: 0;
  }
}

@keyframes buzz {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    margin-left: 0;
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(70deg);
    margin-left: 60%;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
    margin-left: 0;
  }
}
.section-contacts .contacts-form {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.section-contacts .contacts-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.section-contacts .contacts-form__input {
  font-family: "Montserrat", sans-serif;
  height: 50px;
  margin-bottom: 20px;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 12px;
}
.section-contacts .contacts-form__input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-contacts .contacts-form__input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-contacts .contacts-form__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-contacts .contacts-form__input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-contacts .contacts-form__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .section-contacts .contacts-form__input::-webkit-input-placeholder {
    font-size: 9px;
  }
  .section-contacts .contacts-form__input::-moz-placeholder {
    font-size: 9px;
  }
  .section-contacts .contacts-form__input:-ms-input-placeholder {
    font-size: 9px;
  }
  .section-contacts .contacts-form__input::-ms-input-placeholder {
    font-size: 9px;
  }
  .section-contacts .contacts-form__input::placeholder {
    font-size: 9px;
  }
}
.section-contacts .contacts-form__area {
  height: 130px;
  background: #efefef;
  border: none;
  border-radius: 3px;
}
.section-contacts .contacts-form__btn {
  width: 260px;
  height: 55px;
}

.error-message {
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 18px;
  padding: 10px 15px;
  background: gold;
  width: fit-content;
  border-radius: 5px;
}

.section-service .steps {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .section-service .steps {
    max-width: 365px;
  }
}
.section-service .steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 445px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .section-service .steps-block {
    padding: 10px 0 60px 40px;
  }
}
@media screen and (max-width: 991px) {
  .section-service .steps-block-last {
    border: none;
    padding-bottom: 0;
  }
}
.section-service .steps__image {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  width: 140px;
}
@media screen and (max-width: 991px) {
  .section-service .steps__image {
    display: none;
  }
}
.section-service .steps-btn {
  margin-bottom: 80px;
}
@media screen and (max-width: 576px) {
  .section-service .steps-btn {
    margin-bottom: 50px;
  }
}
.section-service .steps-one {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .section-service .steps-one {
    border-left: 7px dotted #bebebe;
    margin-left: 20px;
    margin-bottom: 0;
  }
}
.section-service .steps-one__subtitle {
  text-align: left;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .section-service .steps-one__subtitle {
    font-size: 14px;
  }
}
.section-service .steps-one__text {
  font-size: 13px;
  margin-bottom: 5px;
}
.section-service .steps-one__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .section-service .steps-one__right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
.section-service .steps-one__right .steps-block {
  width: 310px;
}
.section-service .steps-one__number {
  display: none;
}
@media screen and (max-width: 991px) {
  .section-service .steps-one__number {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fdcc21;
    width: 45px;
    height: 45px;
    font-family: cursive;
    font-size: 25px;
    color: #656565;
    border-radius: 50%;
    top: 0;
    left: -25px;
  }
}
@media screen and (max-width: 991px) {
  .section-service .steps-one:last-child {
    border-left: none;
    margin-bottom: 50px;
  }
}

.section-service .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.section-service .price-block {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px auto;
}
.section-service .price-header {
  padding: 30px;
  background: #2a2a2a;
  color: #fff;
}
.section-service .price-header__title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 20px;
}
.section-service .price-header__count {
  font-style: italic;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 4px;
}
.section-service .price-header__limits {
  font-size: 13px;
  font-weight: 200;
  color: #f1f1f1;
  margin-bottom: 20px;
}
.section-service .price-header__limits::after {
  content: "";
  display: block;
  width: 210px;
  height: 2px;
  margin: 17px auto;
  background: #8b8b8b;
}
.section-service .price-header__text {
  font-size: 13px;
  font-weight: 200;
  color: #f1f1f1;
}
.section-service .price-info {
  padding: 30px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.section-service .price-info p {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 200;
  color: #000;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  .section-service .price {
    margin-bottom: 40px;
  }
}

.section-service .conditionals {
  max-width: 550px;
  margin: 0 auto;
}
.section-service .conditionals__text {
  text-align: center;
  margin-bottom: 70px;
}
.section-service .conditionals__text p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
}
